:root.theme-light {
  --background-image-page: url("../images/cover-image-light.png");
  --background-color-page: #fff1f7;
  --bacground-color-title: #ff8dcb;
  --color-title: #ffc2e6;
  --color-title-accident: #353430;
  --color-menu: #353430;
  --color-title-shadow: #ff8dcb;
  --color-text-paragraph: #353430;
  --color-text-title: #353430;
  --word-shadow: #FF8DCB;
  --color-rec-decoration: transparent;
  --word-shadow-link:#353430;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-image-page: url("../images/cover-image-light.png");
    --background-color-page: #fff1f7;
    --bacground-color-title: #ff8dcb;
    --color-title: #ffc2e6;
    --color-title-accident: #353430;
    --color-menu: #353430;
    --color-title-shadow: #ff8dcb;
    --color-text-paragraph: #353430;
    --color-text-title: #353430;
    --word-shadow: #FF8DCB;
    --color-rec-decoration: transparent;
    --word-shadow-link:#353430;
  }
}

