/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image-page-dark);
  background-color: #000028;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
.header {
  display: grid;
  max-height: 100vw;
  min-height: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 27% 1fr 31%;
}
.REC-decoration {
  display:grid;
  justify-self: end;
  margin-block-start: 10px;
  
}
.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}
.header__theme-menu-button {
  color: #ff0070;
  border-top-width: initial;
  border-right-width: initial;
  border-left-width: initial;
  border-bottom-width: initial;
  background-color: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-bottom-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}
.header__title-paragraph {
  font-size: 18px;
  line-height: 23.4px;
}
/* .gallery{
 object-fit: 100%;
} */
