.page {
  position: relative;
  background-color: #000028;
  padding-inline-start: var(--indention-global);
  padding-inline-end: var(--indention-global);
  background-image: var(--background-image-page);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  position: relative;
  display: grid;
  max-height: 100vw;
  min-height: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 36% 1fr 27%;
  align-items: center;
  @media (width >= 768px) {
    grid-template-rows: 45% 1fr 45%;
    min-height: 1024px;
  }
  @media (width >= 1024px) {
    min-height: 768px;
    grid-template-rows: 45% 1fr 45%;
    align-items: flex-start;
  }
}
.rec-decoration {
  position: absolute;
  top: calc(var(--indention-global) + 1px);
  right: calc(var(--indention-global) + 19px);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: var(--color-title-accident);
}
.rec-decoration::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px;
  background-color: var(--color-title-accident);
  top: calc(var(--indention-global) - 1px);
  right: -20px;
  border-radius: 100%;
}
.header::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-title-accident);
  border-right: 1px solid var(--color-title-accident);
  right: 0;
  top: 10px;
}
.header::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-title-accident);
  border-left: 1px solid var(--color-title-accident);
  left: 0;
  bottom: 10px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 13px;
  @media (width >= 1024px) {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-block-start: 20px;
  }
}
.header__theme-menu-button_active {
  outline: 1px solid var(--color-menu);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-menu);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-menu);
}
.header__theme-menu-button {
  color: var(--color-menu);
  padding: 0 13px;
  background-color: transparent;
  border-style: none;
  text-transform: lowercase;
}
.title {
  display: grid;
  align-self: start;
  font-family: "IBM Plex Mono";
  font-weight: var(--font-weight-accident);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--color-title-shadow);
  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
.header__title-paragraph {
  font-size: var(--font-size-general);
  justify-self: end;
  max-width: 365px;
  @media (width >= 1024px) {
    max-width: 491px;
  }
}
.title-decor {
  background-color: var(--bacground-color-title);
  color: var(--color-text-title);
  font-size: var(--font-size-general);
  font-weight: var(--font-weight-accident);
}
.main {
  display: grid;
  padding-block-start: var(--indention-header);
  gap: var(--indention-section);
}
.content-section {
  display: grid;
  gap: 20px;
  @media (width >= 768px) {
    grid-template-columns: 1fr 2fr;
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.text-block {
  display: grid;
  gap: 20px;
  @media (width >= 1024px) {
    grid-column: 2 / span 2;
  }
}
.text-block__subtitle,
.text-block__title {
  margin-block-end: 10px;
}
.text-block__subtitle-title {
  margin-block-end: 20px;
}
.text-block__content {
  color: var(--color-text-paragraph);
}
.content-section__title {
  color: var(--color-title-accident);
}

.text-block__subtitle-content:not(:last-child) {
  margin-block-end: 20px;
}
.causes {
  .text-block {
    grid-column: 1/-1;
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
.gallery-section-image {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  @media (width >= 768px) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-block-size: 768px;
    .gallery-section-image:nth-child(1) {
      grid-column: span 2;
    }
    .gallery-section-image:nth-child(2) {
      grid-column: 3;
      grid-row: span 2;
    }
    .gallery-section-image:nth-child(3) {
      grid-column: 1;
      grid-row: span 2;
    }
    .gallery-section-image:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }
    .gallery-section-image:nth-child(5) {
      grid-column: 2/4;
      grid-row: 3;
    }
  }
  @media (width >= 1024px) {
    max-block-size: 1048px;
  }
}
.gallery {
  @media (width >= 768px) {
    .text-block__title {
      margin-block-end: 20px;
    }
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.footer-title {
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 100vw;
  min-height: 668px;
}
